@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&family=Josefin+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.dark{
    background-color: rgba(34, 36, 39, 1);
}

.dark div span{
	color: rgba(255, 255, 255, 1);
	font-size: 82px;
	font-family: 'Josefin Sans';
	word-wrap: break-word;
}

.dark .subtitle{
	font-family: 'Baloo 2';
	width: 100%;
	text-align: center;
	color: white;
	font-size: 32px; 
	font-weight: 400;
	word-wrap: break-word;
}

.light{
	background-color: #fff;
}

.light div span{
	color: black;
	font-size: 82px;
	font-family: 'Josefin Sans';
	word-wrap: break-word;
}

.light .subtitle{
	font-family: 'Baloo 2';
	width: 100%;
	text-align: center;
	color: white;
	font-size: 32px; 
	font-weight: 400;
	word-wrap: break-word;
	color: black;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}


input[type="checkbox"] {
	height: 0;
	width: 0;
	visibility: hidden;
}

.label {
	cursor: pointer;
	text-indent: -9999px;
	width: 5rem;
	height: 2.7rem;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

.label:after {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	width: 2rem;
	height: 2rem;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + .label {
	background: rgb(84, 60, 90);
}

input:checked + .label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.label:active:after {
	width: 130px;
}

.modal {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 0.8rem 2rem;
	background-color: rgb(84, 60, 90);
	color: white;
	font-family: 'Baloo 2';
	border-radius: 10px;
	overflow: hidden;
  
	/* Crear una pseudoelemento para la franja verde */
	&::after {
	  content: '';
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  width: 100%;
	  height: 2px; /* Altura de la franja verde */
	  background: linear-gradient(to left, transparent, #00ff00);
	  animation: gradientAnimation 3s linear forwards;
	}
  }
  
  /* Animación para mover la franja verde */
  @keyframes gradientAnimation {
	from {
	  width: 100%;
	}
	to {
	  width: 0;
	}
  }
  
.backPage{
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: "Baloo 2";
	position: relative;
}

.linkBack{
	color: white; 
	text-decoration: none; 
	display: flex; 
	flex-direction: row; 
	font-size: 20px; 
	position: fixed;
	top: 3rem;
	left: 1.5rem;
}

.imgBackPage{
	width: 23px;
	margin-right: 8px;
}

.contactForm{
	padding: 4rem 25rem;
	border: 2px solid rgba(84, 60, 90, 1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}

.contactFormDiv{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contactFormTitle{
	font-family: "Josefin Sans";
	color:white;
}

.contactFormTextArea{
	font-size: 20px;
	font-family: "Baloo 2";
	padding: 2px;
	background-color: transparent;
	color: white;
	margin: 1rem 0;
	border: 1px solid rgba(84, 60, 90, 1);
	width: 25rem;
	height: 10rem;
}

.img{
	width: 20rem;
}

.proyectText{
	color: white;
	font-family: "Baloo 2";
	background-color: rgb(84, 60, 90);
	padding: 0.5rem;
}

.proyectTitle{
	text-align: center;
	font-size: 24px;
}

.description{
	text-align: justify;
}

.proyectDiv{
	width: 5rem;
	height: 2rem;
}

.github{
	display: flex;
	justify-content: center;

}

.github img:hover{
	width: 28px;
	height: 28px;
}